


html, body, form
{
	width:700px;
}

html
{
}

body
{
}

a
{
	color:#aaf;
}

table tr th,
table tr td
{
	border:none 0;
}



.dynamic
{
	width:auto;
	height:auto;
}




/* Rating page... */
.wine-rater-main-all
{
	overflow:visible;
	text-shadow:2px 2px 4px #999;
	margin:9px;
}

.wine-rater-main-content
{
	width:100%;
	position:relative;
	overflow:visible;
}

.wine-rater-paging
{
	width:320px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.wine-rater-previous
{
}

.wine-rater-wine-club
{
}

.wine-rater-next
{
}

.wine-rater-wrapper
{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.wine-rater-item
{
	width:100%;
	overflow:hidden;
	margin:25px 0;
	position:relative;
}

.wine-rater-item-image-wrapper
{
	float:left;
	margin-right:10px;
	position:relative;
}

.wine-rater-item-image
{
}

.wine-rater-item-text
{
	width:300px;
	display:block;
	float:left;
}

.wine-rater-item-header
{
	font-weight:600;
	font-size: 1.5em;
	margin-bottom:15px;
}

.wine-rater-item-winemakers-notes
{
	display:block;
}

.wine-rater-rate-label
{
}

.wine-rater-rater-wrapper
{
	width:300px;
}

input.wine-rater-rating-clear
{
	position:absolute;
	display:block;
	bottom:0px;
	right:15px;
	font-size:8px;
	margin-top:-5px;
	margin-right:0;
	opacity:0.3;

	-moz-transition-property:opacity;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:opacity;
	-webkit-transition-duration:0.2s;
	transition-property:opacity;
	transition-duration:0.2s;
}

input.wine-rater-rating-clear:hover
{
	opacity:1;
}

.wine-rater-rater
{
	float:left;
	width:300px;
}

.wine-rater-item-price
{
	clear:both;
	font-size:larger;
}

.wine-rater-comment-wrapper
{
	margin:10px 0 10px 0;
}

.wine-rater-comment-wrapper-inner
{
}

.wine-rater-comment-text
{
	width: 100%;
	height: 100px;
}

.wine-rater-email-input
{
	margin:15px;
	font-size:large;
}

.wine-rater-email-input input[type=email],
.wine-rater-email-input input[type=number],
.wine-rater-email-input input[type=phone],
.wine-rater-email-input input[type=text]
{
	margin-bottom:15px;
}

.wine-rater-email-wrapper
{
	font-size:x-small;
}

.wine-rater-help-image
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:0 0;
	width:700px;
	height:327px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

input.wine-rater-email-button
{
	font-size:large;
	margin:15px auto 15px auto;
	display:block;
}

.wine-window
{
	color:Black;
	width:250px;
	z-index:500;
	position:absolute;
	top:50px;
	left:250px;
}

.wine-window-visible
{
	position:absolute;
	color:Black;
	z-index:500;
	position:absolute;
}

.wine-obscurer
{
	position:fixed;
	top:0;
	left:0;
	width:1000%;
	height:1000%;
	background-color:Black;
	z-index:450;
}

/* Profile page ... */
.wine-rating-whole-page
{
	width:100%;
	height:100%;
	overflow:auto;
	background-color:#ffffff;
	color:Black;
	text-shadow:2px 2px 4px #999;
}

.wine-rating-separator
{
	clear:both;
	display:block;
	margin:25px;
}

.wine-rating-whole-content
{
	width:750px;
	padding:25px 25px 75px 25px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	margin-bottom:25px;
	position:relative;
	overflow:auto;
}

.wine-rating-profile-link-to-buy
{
	color:#33d;
	font-size:larger;
	margin-top:10px;
	display:block;
}

.wine-rating-profile-header
{
	margin:25px 0 20px 125px;
}

.wine-rating-profile-logo-link
{
	display:block;
	text-align:center;
}

.wine-rating-profile-logo-image
{
}

.wine-rating-profile-logo-gravatar-link
{
	position:absolute;
	top:25px;
	right:25px;
}

.wine-rating-profile-logo-gravatar-image
{
	-moz-border-radius:15px 15px 15px 15px;
	-webkit-border-radius:15px 15px 15px 15px;
	border-radius:15px 15px 15px 15px;
	-webkit-box-shadow: 2px 2px 5px #666;
	-moz-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;
}

.wine-rater-profile-password-wrapper
{
	position:absolute;
	top:160px;
	right:25px;
}

.wine-rater-email-text
{
	display:block;
}

.wine-rater-profile-password-wrapper input[type=text]
{
	width:50px;
}

.wine-rating-profile-one-wine
{
	clear:both;
	padding:15px;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}

.wine-rating-profile-image
{
	float:left;
	margin-right:25px;
}

.wine-profile-rater .mux-rating-star
{
	height:55px;
}

.wine-rating-profile
{
	float:left;
	width:350px;
}

.mux-calendar
{
	color:Black;
}

.wine-rater-social-wrapper
{
	width:600px;
	height:80px;
	padding:20px;
	margin:0px auto 0px auto;
	overflow:visible;
}

/* FaceBook share link... */
.fb_share_link
{
	border:none;
	margin:10px;

	-webkit-box-shadow: 2px 2px 5px #666;
	-moz-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;

	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, 1)), to(rgba(180, 180, 180, 1)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, 1) 0%, rgba(180, 180, 180, 1) 80%);

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;

	color:Black;
	padding:8px;
}

.fb_share_link:hover
{
	-webkit-box-shadow: 2px 2px 10px #444;
	-moz-box-shadow: 2px 2px 10px #444;
	box-shadow: 2px 2px 10px #444;
}

.fb_share_link span
{
	background:url(http://static.ak.facebook.com/images/share/facebook_share_icon.gif?12:26981) no-repeat top left;
	display:inline-block;
	width:16px;
}


/* Twitter share link... */
.tw_share_link
{
	border:none;
	margin:10px;

	-webkit-box-shadow: 2px 2px 5px #666;
	-moz-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;

	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, 1)), to(rgba(180, 180, 180, 1)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, 1) 0%, rgba(180, 180, 180, 1) 80%);

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;

	color:Black;
	padding:8px;
}

.tw_share_link:hover
{
	-webkit-box-shadow: 2px 2px 10px #444;
	-moz-box-shadow: 2px 2px 10px #444;
	box-shadow: 2px 2px 10px #444;
}

.tw_share_link span
{
	background:url(images/twitter.png) no-repeat top left;
	display:inline-block;
	width:16px;
}

/* View all button ... */
.view_all
{
	border:none;
	margin:10px;

	-webkit-box-shadow: 2px 2px 5px #666;
	-moz-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;

	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, 1)), to(rgba(180, 180, 180, 1)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, 1) 0%, rgba(180, 180, 180, 1) 80%);

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;

	color:Black;
	padding:8px;
}

.view_all:hover
{
	-webkit-box-shadow: 2px 2px 10px #444;
	-moz-box-shadow: 2px 2px 10px #444;
	box-shadow: 2px 2px 10px #444;
}

/* Embedd button ... */
.embedWidget
{
	border:none;
	margin:10px;

	-webkit-box-shadow: 2px 2px 5px #666;
	-moz-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;

	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, 1)), to(rgba(180, 180, 180, 1)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, 1) 0%, rgba(180, 180, 180, 1) 80%);

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;

	color:Black;
	padding:8px;
}

.embedWidget:hover
{
	-webkit-box-shadow: 2px 2px 10px #444;
	-moz-box-shadow: 2px 2px 10px #444;
	box-shadow: 2px 2px 10px #444;
}

.favoritesSent
{
	width:180px;
	height:150px;
	overflow:hidden;
	text-shadow:2px 2px 4px #999;
}

.favoritesSentBackground
{
	background:url('images/widget-bg.png') no-repeat 0 -100px;
	position:absolute;
	opacity:0.1;
	width:100%;
	height:100%;
	margin-top:-37px;
	margin-left:-15px;
	z-index:0;
}

.extraButton
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.wine-club-signup
{
	text-shadow:1px 1px 4px rgba(180, 180, 180, 100);
}

.wine-club-info
{
	margin:5px 25px 5px 25px;
	font-size:11px;
	font-style:italic;
}

.tdRight
{
	text-align:right;
}

select.halfSize
{
	width:6.125em;
}

.wineClubSelectorWrapper
{
	margin:15px;
}

.wineClubTypeChoice
{
	margin:5px 5px 25px 5px;
	padding:15px;
	width:150px;
	min-height:160px;
	float:left;
	font-size:10px;
	cursor:pointer;
	text-shadow:2px 2px 4px #999;

	-webkit-box-shadow: 2px 2px 5px #666;
	-moz-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;

	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, 1)), to(rgba(180, 180, 180, 1)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, 1) 0%, rgba(180, 180, 180, 1) 80%);

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;
}

.wineClubTypeChoice:hover
{
	-webkit-box-shadow: 2px 2px 10px #444;
	-moz-box-shadow: 2px 2px 10px #444;
	box-shadow: 2px 2px 10px #444;
}


.wine-club-bg-image
{
	position:absolute;
	width:180px;
	height:190px;
	margin-top:-15px;
	margin-left:-15px;
	opacity:0.1;
}

.screensaver
{
	z-index:10000;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:Red;
	background-repeat:no-repeat;
}

.wine-guest-book
{
}

.wine-guest-book-textarea
{
	width:100%;
	height:120px;
	display:block;
}

.wine-guest-book-view
{
	margin:55px;
	margin-top:25px;
}








