<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>

    <!-- Portal plugin, our "viewport driver"... -->
    <add key="PortalViewDriver" value="Magic.Brix.Viewports.SingleContainer" />

    <!-- MSSQL -->
    <add key="LegoDatabaseAdapter" value="Magic.Brix.Data.Adapters.MSSQL.MSSQL" />
    <add key="LegoConnectionString" value="Data Source=.\SQL2008;Initial Catalog=Wine;User id=sa;Pwd=8pr4ms" />

  </appSettings>

  <system.web>
    <customErrors mode="RemoteOnly">
      <error statusCode="500" redirect="server-error.html" />
    </customErrors>
    <pages>
      <controls>
        <add assembly="Magic-UX" namespace="Magic.UX.Widgets" tagPrefix="mux" />
        <add assembly="Magic-UX" namespace="Magic.UX.Aspects" tagPrefix="mux" />
        <add assembly="Magic.Brix.Components" namespace="Magic.Brix.Components" tagPrefix="mux" />
      </controls>
    </pages>
    <compilation debug="true" />
    <authentication mode="Windows" />
    <sessionState timeout="120" />
  </system.web>
</configuration>
