<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true"/>
  </configSections>

  <appSettings>

    <!-- Portal plugin, our "viewport driver"... -->
    <add key="PortalViewDriver" value="Magix.Brix.Viewports.SingleContainer" />

    <!-- MSSQL -->
    <add key="LegoDatabaseAdapter" value="Magix.Brix.Data.Adapters.MSSQL.MSSQL" />
    <add key="LegoConnectionString" value="Data Source=.\SQL2008;Initial Catalog=Wine2;User id=sa;Pwd=8pr4ms" />

    <add
      key="typeMapping-Magix.Brix.Components.ActiveTypes.Users.UserBase"
      value="Magix.Brix.Components.ActiveTypes.Publishing.User"/>

    <!-- Mappings for Events -->
    <!-- 
    <add key="mapped-Page_Init_InitialLoading" value="Magix.TalkBack.LaunchForum"/>-->

  </appSettings>

  <dotNetOpenAuth>
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
						<add endpoint="https://www.google.com/accounts/o8/ud" />
					</trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
								 with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth" />
        </behaviors>
      </relyingParty>
    </openid>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- since this is a sample, and will often be used with localhost -->
          <add name="localhost" />
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="false" />
  </dotNetOpenAuth>

  <system.net>
    <mailSettings>
      <smtp>
        <network defaultCredentials="false" host="rasoftwarefactory.com" password="" port="25" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <customErrors mode="RemoteOnly">
      <error statusCode="500" redirect="server-error.html" />
    </customErrors>
    <pages>
      <controls>
        <add assembly="Magix.UX" namespace="Magix.UX.Widgets" tagPrefix="mux" />
        <add assembly="Magix.UX" namespace="Magix.UX.Aspects" tagPrefix="mux" />
        <add assembly="Magix.Brix.Components" namespace="Magix.Brix.Components" tagPrefix="mux" />
      </controls>
    </pages>
    <compilation debug="true" />
    <authentication mode="Windows" />
    <sessionState timeout="120" />
  </system.web>
</configuration>
