<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>

    <!-- Portal plugin, our "viewport driver"... -->
    <add key="PortalViewDriver" value="Magix.Brix.Viewports.SingleContainer" />

    <!-- MSSQL -->
    <add key="LegoDatabaseAdapter" value="Magix.Brix.Data.Adapters.MSSQL.MSSQL" />
    <add key="LegoConnectionString" value="Data Source=.\SQL2008;Initial Catalog=Wine;User id=sa;Pwd=8pr4ms" />

    <!-- Mappings for Events -->
    <!-- -->
    <add key="mapped-Page_Init_InitialLoading" value="DBAdmin.Form.ViewClasses"/>

  </appSettings>

  <system.web>
    <customErrors mode="RemoteOnly">
      <error statusCode="500" redirect="server-error.html" />
    </customErrors>
    <pages>
      <controls>
        <add assembly="Magix.UX" namespace="Magix.UX.Widgets" tagPrefix="mux" />
        <add assembly="Magix.UX" namespace="Magix.UX.Aspects" tagPrefix="mux" />
        <add assembly="Magix.Brix.Components" namespace="Magix.Brix.Components" tagPrefix="mux" />
      </controls>
    </pages>
    <compilation debug="true" />
    <authentication mode="Windows" />
    <sessionState timeout="120" />
  </system.web>
</configuration>
