


html, body, form
{
	height:auto;
	width:auto;
	color:Black;
	overflow:auto;
}

a
{
	color:#33f;
}

table tr th,
table tr td
{
	border:none 0;
}

.wine-rater-main-all
{
	overflow:visible;
	margin:0;
}

/* Whole content of Admin skin ... */
.mainAdminWhileContent
{
	width:1024px;
	min-height:550px;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	margin-bottom:50px;
	padding:15px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(255, 255, 255, 1)), to(rgba(180, 180, 180, 1)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(180, 180, 180, 1) 80%);
	-webkit-box-shadow: 2px 2px 5px #666;
	-moz-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	overflow-x:hidden;
	overflow-y:visible;
	position:relative;
}

.adminHeader
{
	display:block;
	height:50px;
	background:transparent url(images/CircleSwirl.png) no-repeat 0 0;
	height:125px;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	-webkit-box-shadow: 2px 2px 5px #666;
	-moz-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;
	width:459px;
	margin-bottom:15px;
	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;
}

.adminHeader:hover
{
	-webkit-box-shadow: 4px 4px 7px #666;
	-moz-box-shadow: 4px 4px 7px #666;
	box-shadow: 4px 4px 7px #666;
}

.menu
{
	float:left;
	display:block;
	width:230px;
	margin-right:20px;
}

.mux-sliding-menu
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.1);
	background-image:none;
	min-height:300px;
}

.content
{
	float:left;
	width:710px;
	overflow-x:hidden;
	overflow-y:hidden;
}

.dynamic
{
	width:auto;
	height:auto;
}

.mux-calendar
{
	color:Black;
}

.ratingCount
{
	position:absolute;
	top:5px;
	right:5px;
	font-weight:bold;
}

.wineScores
{
	background-color:White;
	position:absolute;
	opacity:0.5;
	top:0px;
}

.editMenu
{
	width:100%;
}

/* Settings grid and other grids ... */
.grid
{
	width:100%;
}

.grid .controlWrappers
{
	width:200px;
}

.grid .gridWrapper
{
	width:100%;
}

.grid .table
{
	width:100%;
	font-size:10px;
}

.grid .headerButton
{
	width:100%;
}

.grid .clicked
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(255, 255, 255, 1)), to(rgba(180, 180, 180, 1)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(180, 180, 180, 1) 80%);
}

.grid .clicked-backwards
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(180, 180, 180, 1)), to(rgba(255, 255, 255, 1)));
	background-image: -moz-linear-gradient(rgba(180, 180, 180, 1) 0%, rgba(255, 255, 255, 1) 80%);
}

.grid .table .even
{
	background-color:rgba(235, 235, 235, 0.2);
	white-space:nowrap;
}

.grid .table .odd
{
	background-color:rgba(205, 205, 205, 0.2);
	white-space:nowrap;
}

.grid .deleteBtn
{
	width:16px;
	height:16px;
	background:url('images/delete.png') no-repeat 0 0;
	display:block;
}

.grid .chkBtn
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:8px;
}

.grid .bubbleWrp
{
	height:20px;
	-moz-transition-property:height, color, background-color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:height, color, background-color;
	-webkit-transition-duration:0.2s;
	transition-property:height, color, background-color;
	transition-duration:0.2s;
	overflow:hidden;
	color:#662;
	background-color:transparent;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}

.grid .bubbleWrp:hover
{
	height:140px;
	overflow:auto;
	color:White;
	background-color:#999;
}

.grid .bubble
{
	margin:3px;
	padding:2px;
	background-color:transparent;
	border-radius:5px 5px 5px 5px;
}

.grid .bubbleWrp:hover .bubble
{
	background-color:#777;
}

.mux-in-place-edit a
{
	min-width:50px;
}

.pickImage
{
	width:50px;
	opacity:0.5;
	-moz-transition-property:opacity;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:opacity;
	-webkit-transition-duration:0.2s;
	transition-property:opacity;
	transition-duration:0.2s;
}

.pickImage:hover
{
	opacity:1;
}

.editEmailTemplate
{
	display:block;
	width:95%;
	height:500px;
	position:relative;
}

.editEmailTemplate textarea
{
	width:48%;
	margin-right:2%;
	height:80%;
	float:left;
	display:block;
	border:none 0;
}

.editEmailTemplate div.header
{
	width:100%;
	height:48px;
}

.editEmailTemplate div.header div
{
	text-align:center;
	float:left;
	font-size:large;
	background-color:#ffffe0;
	color:Black;
	height:30px;
	padding-top:4px;

	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}

.editEmailTemplate div.header div.left
{
	width:48%;
	margin-right:2%;
	height:30px;
	padding-top:4px;
}

.editEmailTemplate div.header div.right
{
	width:48%;
	margin-left:2%;
}

.editEmailTemplate div.preview
{
	width:48%;
	margin-left:2%;
	height:80%;
	float:left;
	overflow:auto;
	background-color:#fffffa;
	color:Black;
}

.editEmailTemplate div.preview a
{
	color:Blue;
}

.editEmailTemplate input[type=button]
{
	position:absolute;
	right:5px;
}

ul.bullets
{
	margin:15px;
}

.bullets li
{
	list-style-type:disc;
	list-style-position:outside;
}

.edit-winemakers-notes
{
	max-height:300px;
	overflow-y:auto;
	overflow-x:hidden;
}

.transparent-window
{
	opacity:0.6;
	-moz-transition-property:opacity, width, height;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:opacity, width, height;
	-webkit-transition-duration:0.2s;
	transition-property:opacity, width, height;
	transition-duration:0.2s;
	overflow:hidden;
	width:350px;
	height:35px;
}

.transparent-window:hover
{
	opacity:1;
	width:490px;
	height:350px;
}

.select-date-range-no-button:hover
{
	opacity:1;
	width:490px;
	height:300px;
}

.transparent-window-small
{
	opacity:0.6;
	-moz-transition-property:opacity, width, height;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:opacity, width, height;
	-webkit-transition-duration:0.2s;
	transition-property:opacity, width, height;
	transition-duration:0.2s;
	overflow:hidden;
	width:100px;
	height:35px;
}

.transparent-window-small:hover
{
	opacity:1;
	width:200px;
	height:100px;
}





.statistics,
.statisticsDays
{
	height:110px;
	border:solid 1px Black;
}

.statistics tr td,
.statisticsDays tr td
{
	vertical-align:bottom;
}

.statistics tr td .hour
.statisticsDays tr td .hour
{
}

.statistics tr td .statBar
{
	display:block;
	background-color:Yellow;
	width:15px;
}

.statisticsDays tr td .statBar
{
	display:block;
	background-color:Yellow;
	width:15px;
	font-size:6px;
}

.statisticsDays tr td
{
	padding:3px;
}

table.viewWineClub
{
}

table.viewWineClub tr td.info
{
	text-align:right;
}

table.viewWineClub tr td.header
{
	text-align:center;
}

.viewWineClubDetails
{
	width:100%;
	font-size:9px;

	-webkit-box-shadow: 2px 2px 5px #444;
	-moz-box-shadow: 2px 2px 5px #444;
	box-shadow: 2px 2px 5px #444;

	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}

.ajax-wait
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:Black;
	z-index:100000;
}

.ajax-wait h2
{
	display:block;
	color:#efefef;
	width:400px;
	margin:50px auto 0px auto;
}

.ajax-wait img
{
	display:block;
	color:#efefef;
	width:166px;
	margin:50px auto 0px auto;
}

.wine-admin-message-box
{
	position:relative;
	padding-bottom:50px;
}

.wine-admin-message-box .ok
{
	position:absolute;
	bottom:5px;
	right:80px;
}

.wine-admin-message-box .cancel
{
	position:absolute;
	bottom:5px;
	right:5px;
}

.center-aligned-div
{
	margin-left:auto;
	margin-right:auto;
}












