


.wysiwyg-meta-forms
{
	width:950px;
	margin-right:10px;
	min-height:810px;
	margin-bottom:180px;
	position:relative;
	overflow-x:hidden;
	overflow-y:auto;
	height:auto;
}


.mux-meta-forms-toolbox
{
	min-height:180px;
	height:auto;
	overflow-y:auto;
	top:18px;
	left:0px;
	position:absolute;
	z-index:799;
}

.mux-meta-forms-props
{
	top:225px;
	left:0;
	position:absolute;
	z-index:800;
}

.mux-toolbox-item
{
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	display:block;
	width:90px;
	font-size:9px;
	padding:9px 10px 9px 10px;
	margin-right:10px;
	margin-bottom:18px;
	float:left;
	text-decoration:none;
	background-color:rgba(0,0,0,.1);
	-moz-transition-property:-moz-box-shadow, color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow, color;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow, color;
	transition-duration:0.2s;
}

.mux-toolbox-item:hover
{
	-moz-transition-property:-moz-box-shadow, color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow, color;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow, color;
	transition-duration:0.2s;
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.mux-meta-form-wysiwyg-wrapper
{
	min-height:810px;
	position:relative;
	overflow-y:auto;
}

.mux-property-row
{
	background-color:rgba(0,0,0,0);
	height:auto;
	overflow:auto;
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .0);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, .0);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .0);
	-moz-transition-property:-moz-box-shadow, background-color, max-height;
	-moz-transition-duration:1s;
	-webkit-transition-property:-webkit-box-shadow, background-color, max-height;
	-webkit-transition-duration:1s;
	transition-property:box-shadow, background-color, max-height;
	transition-duration:1s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	max-height:72px;
}

.mux-property-row:hover
{
	background-color:rgba(0,0,0,.1);
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
	-moz-transition-property:-moz-box-shadow, background-color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow, background-color;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow, background-color;
	transition-duration:0.2s;
	height:auto;
	overflow:auto;
}

.prop-editor
{
	position:relative;
	width:100% !important;
	min-width:100% !important;
	height:auto;
	overflow:auto;
}

div.prop-editor>a
{
	display:block;
	overflow-y:auto;
	height:auto;
	text-decoration:none;
}

div.prop-editor>textarea
{
	display:block;
	position:relative;
	background-image: -webkit-gradient(linear, 0% 40%, 0% 100%, from(rgba(255, 255, 255, 1)), to(rgba(200, 200, 200, 1))) !important;
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 40%, rgba(200, 200, 200, 1) 100%) !important;
	text-shadow:2px 2px 3px rgba(0,0,0,.3);
	margin:0;
	border:none 0;
	border-top:solid 1px #999;
	border-bottom:solid 1px #999;
	padding:0;
	width:100% !important;
	min-width:100% !important;
}

input[type=checkbox].prop-editor
{
	width:44px !important;
	min-width:44px !important;
	margin:0;
}

.mux-wysiwyg-selected,
input[type=button].mux-wysiwyg-selected,
input[type=text].mux-wysiwyg-selected,
input[type=email].mux-wysiwyg-selected,
input[type=checkbox].mux-wysiwyg-selected,
textarea.mux-wysiwyg-selected
{
	border:dashed 1px rgba(0,0,0,.2);
	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;
	-webkit-box-shadow: 12px 12px 5px rgba(0, 0, 0, .9);
	-moz-box-shadow: 12px 12px 5px rgba(0, 0, 0, .9);
	box-shadow: 12px 12px 5px rgba(0, 0, 0, .9);
}

.mux-prop-label
{
	clear:both;
}

.mux-wysiwyg-description
{
	font-style:italic;
	color:#999;
}

.mux-no-actions
{
	padding-left:16px;
	background:transparent url(../images/code-icons-empty.png) no-repeat -32px -16px;
}

.mux-has-actions
{
	padding-left:16px;
	background:transparent url(../images/code-icons.png) no-repeat -32px -16px;
}

.mux-hide-props .mux-property-type-row
{
	-moz-transition-property:max-height;
	-moz-transition-duration:1s;
	-webkit-transition-property:max-height;
	-webkit-transition-duration:1s;
	transition-property:max-height;
	transition-duration:1s;
	max-height:0;
}

.mux-hide-events .mux-event-type-row
{
	-moz-transition-property:max-height;
	-moz-transition-duration:1s;
	-webkit-transition-property:max-height;
	-webkit-transition-duration:1s;
	transition-property:max-height;
	transition-duration:1s;
	max-height:0;
}

