




@font-face
{
    font-family: 'Lexograph';
    src: url('../Fonts/lexograph.ttf');
}

@font-face
{
    font-family: 'Bleeding Cowboys';
    src: url('../Fonts/Bleeding Cowboys.ttf');
}

@font-face
{
    font-family: 'Ultra Classic';
    src: url('../Fonts/Chops.ttf');
}

@font-face
{
    font-family: 'Groovieee';
    src: url('../Fonts/kberry.ttf');
}

@font-face
{
    font-family: 'Bananas';
    src: url('../Fonts/Hawaii_Killer.ttf');
}

@font-face
{
    font-family: 'Magix Junction';
    src: url('../Fonts/Junction 02.ttf');
}

@font-face
{
    font-family: 'Magix Allerta Medium';
    src: url('../Fonts/allerta_medium.ttf');
}

@font-face
{
    font-family: 'Magix Allerta Stencil';
    src: url('../Fonts/allerta_stencil.ttf');
}

@font-face
{
    font-family: 'Magix Raleway Thin';
    src: url('../Fonts/raleway_thin.ttf');
}

@font-face
{
    font-family: 'Magix Sniglet Regular';
    src: url('../Fonts/Sniglet_Regular.ttf');
}

@font-face
{
    font-family: 'Magix Sorts Mill Goudy';
    src: url('../Fonts/OFLGoudyStMTT.ttf');
}

@font-face
{
    font-family: 'Magix Sorts Mill Goudy';
    src: url('../Fonts/OFLGoudyStMTT.ttf');
}

@font-face
{
    font-family: 'Magix Sorts Mill Goudy Italic';
    src: url('../Fonts/OFLGoudyStMTT-Italic.ttf');
}

@font-face
{
    font-family: 'Magix Orbitron Black';
    src: url('../Fonts/orbitron-black.ttf');
}

@font-face
{
    font-family: 'Magix Orbitron Light';
    src: url('../Fonts/orbitron-light.ttf');
}

@font-face
{
    font-family: 'Magix Orbitron Bold';
    src: url('../Fonts/orbitron-bold.ttf');
}

@font-face
{
    font-family: 'Magix Orbitron Medium';
    src: url('../Fonts/orbitron-medium.ttf');
}

@font-face
{
    font-family: 'Magix Ostrich Black';
    src: url('../Fonts/ostrich-black.ttf');
}

@font-face
{
    font-family: 'Magix Ostrich Bold';
    src: url('../Fonts/ostrich-bold.ttf');
}

@font-face
{
    font-family: 'Magix Ostrich Dashed';
    src: url('../Fonts/ostrich-dashed.ttf');
}

@font-face
{
    font-family: 'Magix Ostrich Light';
    src: url('../Fonts/ostrich-light.ttf');
}

@font-face
{
    font-family: 'Magix Ostrich Regular';
    src: url('../Fonts/ostrich-regular.ttf');
}

@font-face
{
    font-family: 'Magix Ostrich Rounded';
    src: url('../Fonts/ostrich-rounded.ttf');
}

@font-face
{
    font-family: 'Magix Prociono';
    src: url('../Fonts/ProcionoTT.ttf');
}

@font-face
{
    font-family: 'Magix Chunk';
    src: url('../Fonts/Chunk.ttf');
}

