/*
 * Magix - A Web Application Framework for Humans
 * Copyright 2010 - 2011 - Ra-Software, Inc. - thomas.hansen@winergyinc.com
 * Magix is licensed as GPLv3, or Commercially for Proprietary Projects through Ra-Software.
 */

/* TreItems for Class "Explorer" ... */
li.mux-tree-item-namespace span.mux-tree-icon
{
	background:transparent url(../images/tree.png) no-repeat 0 0;
}

li.mux-tree-item-class span.mux-tree-icon
{
	background:transparent url(../images/tree.png) no-repeat 0 -18px;
}

/* Table for viewing objects in DBAdmin */
div.mux-grid-single-object
{
}

.mux-class-contents
{
	position:relative;
	height:auto;
	overflow:visible;
}

table.mux-grid-objects
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
}

/* Preparing for some nice transitions on rows... */
table.mux-grid-objects>tbody>tr
{
}

/* Transitions from above, on Hover ... */
table.mux-grid-objects>tbody>tr:hover
{
}

/* Our Table Header ROW */
table.mux-grid-objects>tbody>tr.mux-grid-header
{
}

table.mux-grid-objects>tbody>tr.mux-grid-header:hover
{
}

/* Commons for header cells... */
table.mux-grid-objects>tbody>tr.mux-grid-header>td
{
	font-size:1.5em;
	line-height:2em;

	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	border-radius:2px;

	-webkit-box-shadow:2px 2px 3px rgba(0, 0, 0, 0);
	-moz-box-shadow:2px 2px 3px rgba(0, 0, 0, 0);
	-o-box-shadow:2px 2px 3px rgba(0, 0, 0, 0);
	-ms-box-shadow:2px 2px 3px rgba(0, 0, 0, 0);
	box-shadow:2px 2px 3px rgba(0, 0, 0, 0);

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:.5s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:.5s;
	-o-transition-property:-o-box-shadow;
	-o-transition-duration:.5s;
	-ms-transition-property:-ms-box-shadow;
	-ms-transition-duration:.5s;
	transition-property:box-shadow;
	transition-duration:.5s;
}

/* Making a "button" out of our Header Cell when hovered ... */
table.mux-grid-objects>tbody>tr.mux-grid-header>td:hover
{
	-webkit-box-shadow:2px 2px 3px rgba(0, 0, 0, .8);
	-moz-box-shadow:2px 2px 3px rgba(0, 0, 0, .8);
	-o-box-shadow:2px 2px 3px rgba(0, 0, 0, .8);
	-ms-box-shadow:2px 2px 3px rgba(0, 0, 0, .8);
	box-shadow:2px 2px 3px rgba(0, 0, 0, .8);

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:.5s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:.5s;
	-o-transition-property:-o-box-shadow;
	-o-transition-duration:.5s;
	-ms-transition-property:-ms-box-shadow;
	-ms-transition-duration:.5s;
	transition-property:box-shadow;
	transition-duration:.5s;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, .8)), to(rgba(180, 180, 180, .8)));
	background-image: -webkit-linear-gradient(rgba(230, 230, 230, .8) 0%, rgba(180, 180, 180, .8) 80%);
	background-image: -moz-linear-gradient(rgba(230, 230, 230, .8) 0%, rgba(180, 180, 180, .8) 80%);
	background-image: -o-linear-gradient(rgba(230, 230, 230, .8) 0%, rgba(180, 180, 180, .8) 80%);
	background-image: -ms-linear-gradient(rgba(230, 230, 230, .8) 0%, rgba(180, 180, 180, .8) 80%);
	background-image: linear-gradient(rgba(230, 230, 230, .8) 0%, rgba(180, 180, 180, .8) 80%);
}

/* Undoing the 'damage' ... */
table.mux-grid-objects>tbody>tr.mux-grid-header>td.mux-no-filter:hover
{
	background-image:none;
	
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}


/* Links within Header Cells ... */
table.mux-grid-objects>tbody>tr.mux-grid-header>td>a
{
	color:rgba(0,100,180,1);
}

table.mux-grid-objects>tbody>tr.mux-grid-header>td>a:hover
{
}

table.mux-grid-objects>tbody>tr.mux-grid-header>td>a.mux-filtered,
table.mux-grid-objects>tbody>tr.mux-grid-header>td>a:hover.mux-filtered
{
	background:transparent url(../images/filter.png) no-repeat 0 0;
	padding-left:20px;
}

table.mux-grid-objects>tbody>tr.mux-grid-header>td>a.mux-filtered-overridden,
table.mux-grid-objects>tbody>tr.mux-grid-header>td>a:hover.mux-filtered-overridden
{
	background:transparent url(../images/filter-overridden.png) no-repeat 0 0;
	padding-left:20px;
}

/* Commons for all Table Cells ... */
table.mux-grid-objects>tbody>tr>td
{
	padding:0;
}

table.mux-grid-objects>tbody>tr>td>a,
table.mux-grid-objects>tbody>tr>td>div>a,
table.mux-grid-objects>tbody>tr>td>div.mux-in-place-edit>a
{
	overflow:hidden;
	display:block;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;

	-moz-transition-property:background-color;
	-moz-transition-duration:.5s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:.5s;
	-o-transition-property:background-color;
	-o-transition-duration:.5s;
	-ms-transition-property:background-color;
	-ms-transition-duration:.5s;
	transition-property:background-color;
	transition-duration:.5s;
}

/* Hover commons for all [known types only!!] link types */
table.mux-grid-objects>tbody>tr>td>a:hover,
table.mux-grid-objects>tbody>tr>td>div>a:hover,
table.mux-grid-objects>tbody>tr>td>div.mux-in-place-edit>a:hover
{
	background-color:rgba(0, 100, 180, .2);
}

/* Every second row within the table, either through "even" class on row, 
   or through CSS selectors ... */
table.mux-grid-objects>tbody>tr:nth-child(2n)>td,
table.mux-grid-objects>tbody>tr.even>td
{
	background-color:rgba(0, 0, 0, 0.04);
}

/* Differentiater for cells that cannot be "changed" with other instances. 
   BelongsTo relationship ...! */
table.mux-grid-objects>tbody>tr>td>a.mux-grid-belongs-to
{
	background-color:rgba(128,0, 0, .1);
}

table.mux-grid-objects>tbody>tr>td>div.mux-in-place-edit
{
	position:relative;
	height:18px;
}

table.mux-grid-objects>tbody>tr>td>div.mux-larger-edit
{
	height:inherit;
}

table.mux-grid-objects>tbody>tr>td>div.mux-larger-edit>a
{
	height:inherit;
	width:auto;
	overflow:hidden;
}

table.mux-grid-objects>tbody>tr>td>div.mux-larger-edit>input[type=text]
{
	width:100%;
	margin-left:0;
}

table.mux-grid-objects>tbody>tr>td>div.mux-in-place-edit>textarea
{
	display:block;
	position:absolute;
	z-index:1; /* just needs a little bit of a push ... ;) */
	top:0;
	left:0;
	margin:-1px 0 0 0;
	width:100%;
	height:90px;
}

table.mux-grid-objects>tbody>tr>td>span
{
	display:block;
}

table.mux-grid-objects>tbody>tr.mux-grid-selected
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 255, 200, .3)), to(rgba(0, 180, 110, .3)));
	background-image: -webkit-linear-gradient(rgba(0, 255, 200, .3) 0%, rgba(0, 180, 110, .3) 100%);
	background-image: -moz-linear-gradient(rgba(0, 255, 200, .3) 0%, rgba(0, 180, 110, .3) 100%);
	background-image: -o-linear-gradient(rgba(0, 255, 200, .3) 0%, rgba(0, 180, 110, .3) 100%);
	background-image: -ms-linear-gradient(rgba(0, 255, 200, .3) 0%, rgba(0, 180, 110, .3) 100%);
	background-image: linear-gradient(rgba(0, 255, 200, .3) 0%, rgba(0, 180, 110, .3) 100%);
}

table.mux-grid-single-edit>tbody>tr.mux-grid-header>td:hover
{
	background-image:none;
	background-color:Transparent;

	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
	-ms-border-radius:0;
	border-radius:0;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

table.mux-grid-single-edit>tbody>tr>td>div.mux-in-place-edit>textarea
{
}

table.mux-no-margin
{
}

table.mux-no-margin .mux-grid-check-box-text
{
	display:block;
	width:inherit;
	float:left;
	width:150px;
}

table.mux-no-margin .mux-grid-check-box
{
	float:left;
}


/* A Paging button wrapper inside a list view form ... */
.mux-paging-button
{
	margin-bottom:36px;
}

/* The actual Paging button itself inside a list view form ... */
.mux-paging-button input[type=button]
{
}

/* Disabled state of the above Paging Button */
.mux-paging-button input[type=button]:disabled
{
}

/* Disabled HOVER state of the above Paging Button */
.mux-paging-button input[type=button]:disabled:hover,
.mux-paging-button input[type=button]:disabled:focus
{
}

/* The different [known!] paging buttons in our system ... */
.mux-class-contents div.mux-button-plus,
.mux-class-contents div.mux-button-next,
.mux-class-contents div.mux-button-previous
{
}

/* Continuing ... */
.mux-class-contents .mux-button-beginning,
.mux-class-contents .mux-button-end
{
}

.mux-button-plus
{
}

.mux-class-contents .mux-button-beginning
{
}

.mux-class-contents .mux-button-previous
{
}

.mux-class-contents .mux-button-next
{
}

.mux-class-contents .mux-button-end
{
}

.mux-button-append
{
}


.mux-button-change
{
}

.mux-button-remove
{
}

/* Common Helper buttons ... */
.mux-window-action-button
{
	width:120px;
	float:right;
}

.mux-ok-button
{
	display:block;
	width:110px;
	margin-right:10px;
	margin-bottom:0;
}

.mux-cancel-button
{
	display:block;
	width:110px;
	margin-right:10px;
	margin-bottom:0;
}

.mux-column-name
{
	vertical-align:top;
}
