

input.loginOkButton
{
	margin-bottom:0;
	float:right;
}

table.loginTable
{
	width:auto;
	margin-bottom:0;
}

table.loginTable>tbody>tr>td
{
	background-color:Transparent;
	padding:0;
	margin:0;
}

.warning
{
	color:#CC6600;
}

.txt
{
	margin-right:0;
}


input[type=text].open-id
{
	background-image:url(../images/openid_tiny.png);
	background-repeat:no-repeat;
	background-position:0 0;
	padding-left:20px;
	min-width:130px;
	width:130px;
	opacity:.3;
	-moz-transition-property:opacity;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:opacity;
	-webkit-transition-duration:0.2s;
	transition-property:opacity;
	transition-duration:0.2s;
}

input[type=text].open-id:hover,
input[type=text].open-id:focus
{
	opacity:1;
	-moz-transition-property:opacity;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:opacity;
	-webkit-transition-duration:0.2s;
	transition-property:opacity;
	transition-duration:0.2s;
}









