






.edit-pages-tree-view
{
	min-height:180px;
}

.edit-pages-templates
{
}

.magix-publishing-increase-width
{
	top:0;
	right:0;
	background-position:0 -600px;
	z-index:99;
}

.magix-publishing-decrease-width
{
	top:0;
	right:40px;
	background-position:0 -550px;
	z-index:99;
}

.magix-publishing-increase-height
{
	bottom:0;
	right:0;
	background-position:0 -800px;
	z-index:100;
}

.magix-publishing-decrease-height
{
	bottom:18px;
	right:0;
	background-position:0 -750px;
	z-index:100;
}

.magix-publishing-increase-down
{
	top:36px;
	right:0;
	background-position:0 -800px;
}

.magix-publishing-decrease-down
{
	top:18px;
	right:0;
	background-position:0 -750px;
}

.magix-publishing-increase-bottom
{
	bottom:0;
	left:0;
	background-position:0 -800px;
	z-index:99;
}

.magix-publishing-decrease-bottom
{
	bottom:20px;
	left:0;
	background-position:0 -750px;
	z-index:99;
}

.magix-publishing-increase-left
{
	top:0;
	left:40px;
	background-position:0 -600px;
}

.magix-publishing-decrease-left
{
	top:0;
	left:0;
	background-position:0 -550px;
}

.magix-publishing-increase-padding
{
	top:0;
	left:120px;
	background-position:0 -600px;
}

.magix-publishing-decrease-padding
{
	top:0;
	left:80px;
	background-position:0 -550px;
}

.magix-publishing-increase-width,
.magix-publishing-decrease-width,
.magix-publishing-increase-height,
.magix-publishing-decrease-height,
.magix-publishing-increase-down,
.magix-publishing-decrease-down,
.magix-publishing-increase-bottom,
.magix-publishing-decrease-bottom,
.magix-publishing-increase-left,
.magix-publishing-decrease-left,
.magix-publishing-increase-padding,
.magix-publishing-decrease-padding
{
	position:absolute;
	width:40px;
	height:20px;
	text-decoration:none;
	background-color:Transparent;
	background-image:url(editor/assets/skins/sam/sprite.png);
	background-repeat:no-repeat;

	opacity:.1;

	-moz-transition-property:opacity;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:opacity;
	-webkit-transition-duration:0.2s;
	transition-property:opacity;
	transition-duration:0.2s;
}

.magix-publishing-increase-width:hover,
.magix-publishing-decrease-width:hover,
.magix-publishing-increase-height:hover,
.magix-publishing-decrease-height:hover,
.magix-publishing-increase-down:hover,
.magix-publishing-decrease-down:hover,
.magix-publishing-increase-bottom:hover,
.magix-publishing-decrease-bottom:hover,
.magix-publishing-increase-left:hover,
.magix-publishing-decrease-left:hover,
.magix-publishing-increase-padding:hover,
.magix-publishing-decrease-padding:hover
{
	opacity:.8;

	-moz-transition-property:opacity;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:opacity;
	-webkit-transition-duration:0.2s;
	transition-property:opacity;
	transition-duration:0.2s;
}


.mux-web-part .mux-window-caption
{
	display:none;
}


.magix-publishing-wysiwyg
{
	overflow:auto;
	cursor:pointer;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 128, 0.1)), to(rgba(200, 200, 128, 0.1))) !important;
	background-image: -moz-linear-gradient(rgba(255, 255, 128, 0.1) 0%, rgba(200, 200, 128, 0.1) 100%) !important;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;
}

.magix-publishing-wysiwyg:hover
{

	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;
}

.editer textarea
{
}

input[type=button].neutral
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, .2)), to(rgba(180, 180, 180, .2)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, .2) 0%, rgba(180, 180, 180, .2) 80%);
}

input[type=button].checked
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 255, 230, .2)), to(rgba(180, 220, 180, .2)));
	background-image: -moz-linear-gradient(rgba(230, 255, 230, .2) 0%, rgba(180, 220, 180, .2) 80%);
}

input[type=button].unchecked
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(255, 230, 230, .2)), to(rgba(220, 180, 180, .2)));
	background-image: -moz-linear-gradient(rgba(255, 230, 230, .2) 0%, rgba(220, 180, 180, .2) 80%);
}

input[type=button].checked-expl
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 255, 230, .8)), to(rgba(180, 220, 180, .8)));
	background-image: -moz-linear-gradient(rgba(230, 255, 230, .8) 0%, rgba(180, 220, 180, .8) 80%);
}

.mux-overflow-design
{
	height:900px !important;
}

.mux-web-part
{
	z-index:200;
	cursor:pointer;
}

.mux-edit-web-part
{
	height:360px !important;
	width:270px !important;
	z-index:1000;
	padding:36px 40px 36px 40px;
	overflow:hidden;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(200, 255, 200, 1)), to(rgba(180, 225, 150, 1)));
	background-image: -webkit-linear-gradient(rgba(200, 255, 200, 1) 0%, rgba(180, 225, 150, 1) 100%);
	background-image: -moz-linear-gradient(rgba(200, 255, 200, 1) 0%, rgba(180, 225, 150, 1) 100%);
	background-image: -o-linear-gradient(rgba(200, 255, 200, 1) 0%, rgba(180, 225, 150, 1) 100%);
	background-image: -ms-linear-gradient(rgba(200, 255, 200, 1) 0%, rgba(180, 225, 150, 1) 100%);
	background-image: linear-gradient(rgba(200, 255, 200, 1) 0%, rgba(180, 225, 150, 1) 100%);
}

.mux-edit-web-part .mux-webpart-property-edit-widget,
.mux-web-part .mux-webpart-property-edit-widget,
.mux-web-part .mux-webpart-property-edit-widget a
{
	position:relative;

	-moz-transition-property:margin, padding, width, height, background-color, color, font-size, line-height, border-color, border-width, -moz-box-shadow, -moz-border-radius, opacity, left, right, top, bottom !important;
	-moz-transition-duration:.5s;
	-webkit-transition-property:margin, padding, width, height, background-color, color, font-size, line-height, border-color, border-width, -webkit-box-shadow, -webkit-border-radius, opacity, left, right, top, bottom !important;
	-webkit-transition-duration:.5s;
	-o-transition-property:margin, padding, width, height, background-color, color, font-size, line-height, border-color, border-width, -o-box-shadow, -o-border-radius, opacity, left, right, top, bottom !important;
	-o-transition-duration:.5s;
	-ms-transition-property:margin, padding, width, height, background-color, color, font-size, line-height, border-color, border-width, -ms-box-shadow, -ms-border-radius, opacity, left, right, top, bottom !important;
	-ms-transition-duration:.5s;
	transition-property:margin, padding, width, height, background-color, color, font-size, line-height, border-color, border-width, box-shadow, border-radius, opacity, left, right, top, bottom !important;
	transition-duration:.5s;
}

.mux-webpart-property-edit-widget
{
	opacity:0;
	visibility:hidden;
}

.mux-edit-web-part .mux-webpart-property-edit-widget
{
	opacity:1;
	visibility:visible;
}

.mux-edit-web-part .mux-webpart-property-edit-widget a,
.mux-edit-web-part a.mux-webpart-property-edit-widget,
.mux-edit-web-part div.mux-webpart-property-edit-widget,
.mux-edit-web-part .mux-webpart-property-edit-widget select
{
	cursor:pointer;
}

.mux-edit-web-part a.mux-webpart-property-edit-widget:hover,
.mux-edit-web-part .mux-webpart-property-edit-widget a:hover,
.mux-edit-web-part div.mux-webpart-property-edit-widget:hover,
.mux-edit-web-part select.mux-webpart-property-edit-widget:hover
{
	background-color:rgba(35,128,70,.1);
}

.mux-edit-web-part .magix-publishing-increase-width,
.mux-edit-web-part .magix-publishing-decrease-width,
.mux-edit-web-part .magix-publishing-increase-height,
.mux-edit-web-part .magix-publishing-decrease-height,
.mux-edit-web-part .magix-publishing-increase-down,
.mux-edit-web-part .magix-publishing-decrease-down,
.mux-edit-web-part .magix-publishing-increase-bottom,
.mux-edit-web-part .magix-publishing-decrease-bottom,
.mux-edit-web-part .magix-publishing-increase-left,
.mux-edit-web-part .magix-publishing-decrease-left,
.mux-edit-web-part .magix-publishing-increase-padding,
.mux-edit-web-part .magix-publishing-decrease-padding
{
	opacity:0;
	left:-40px;
	top:-40px;
}

.mux-webpart-widget-info
{
	position:absolute;
	top:18px;
	left:80px;
	color:rgba(0,0,0,.1);
	font-size:36px;
}

.mux-editing-surface
{
	cursor:pointer;
}
