

.signature
{
	width:710px;
}

.surface
{
	width:710px;
	height:360px;
	background-color:#f0f0f0;
	position:relative;
	margin-bottom:18px;
	border:dashed 1px Black;
}

.submitSignature
{
	width:110px;
	margin-right:10px !important;
	display:block;
	float:left;
	clear:left;
}

.submitSignatureCancel
{
	width:110px;
	display:block;
	float:left;
}
















