/*
 * Magix - A Web Application Framework for Humans
 * Copyright 2010 - 2011 - Ra-Software, Inc. - thomas.hansen@winergyinc.com
 * Magix is licensed as GPLv3, or Commercially for Proprietary Projects through Ra-Software.
 */

html, body
{
	/* We don't want 'jumping' to occur when browser scrollbars are becoming visible ... */
    height:110%;
}

.mux-block-image
{
}

.mux-block-image img
{
	display:block;
	cursor:pointer;
	max-width:100%;
	height:auto;

	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
	-ms-border-radius:0px;
	border-radius:0px;

	-moz-box-shadow:2px 2px 3px rgba(0, 0, 0, 0);
	-webkit-box-shadow:2px 2px 3px rgba(0, 0, 0, 0);
	-o-box-shadow:2px 2px 3px rgba(0, 0, 0, 0);
	-ms-box-shadow:2px 2px 3px rgba(0, 0, 0, 0);
	box-shadow:2px 2px 3px rgba(0, 0, 0, 0);

	-moz-transition-property:-moz-border-radius, -moz-box-shadow;
	-moz-transition-duration:.5s;
	-webkit-transition-property:-webkit-border-radius, -webkit-box-shadow;
	-webkit-transition-duration:.5s;
	-o-transition-property:-o-border-radius, -o-box-shadow;
	-o-transition-duration:.5s;
	-ms-transition-property:-ms-border-radius, -ms-box-shadow;
	-ms-transition-duration:.5s;
	transition-property:border-radius, box-shadow;
	transition-duration:.5s;
}

.mux-block-image img:hover
{

	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	-ms-border-radius:15px;
	border-radius:15px;

	-moz-box-shadow:2px 2px 3px rgba(0, 0, 0, .8);
	-webkit-box-shadow:2px 2px 3px rgba(0, 0, 0, .8);
	-o-box-shadow:2px 2px 3px rgba(0, 0, 0, .8);
	-ms-box-shadow:2px 2px 3px rgba(0, 0, 0, .8);
	box-shadow:2px 2px 3px rgba(0, 0, 0, .8);

	-moz-transition-property:-moz-border-radius, -moz-box-shadow;
	-moz-transition-duration:.5s;
	-webkit-transition-property:-webkit-border-radius, -webkit-box-shadow;
	-webkit-transition-duration:.5s;
	-o-transition-property:-o-border-radius, -o-box-shadow;
	-o-transition-duration:.5s;
	-ms-transition-property:-ms-border-radius, -ms-box-shadow;
	-ms-transition-duration:.5s;
	transition-property:border-radius, box-shadow;
	transition-duration:.5s;
}

.main
{
	height:auto;
	overflow:visible;
}

.absolutized
{
	position:absolute;
}

.relativized
{
	position:relative;
}

.mux-message
{
	width:390px;

	display:none;
	z-index:10000;

	position:fixed;
	top:0;
	right:15%;

	margin-left:auto;
	margin-right:auto;

	margin-top:-5px;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(245, 255, 245, 1)), to(rgba(180, 210, 180, 1)));
	background-image: -webkit-linear-gradient(rgba(245, 255, 245, 1) 0%, rgba(180, 210, 180, 1) 80%);
	background-image: -moz-linear-gradient(rgba(245, 255, 245, 1) 0%, rgba(180, 210, 180, 1) 80%);
	background-image: -o-linear-gradient(rgba(245, 255, 245, 1) 0%, rgba(180, 210, 180, 1) 80%);
	background-image: -ms-linear-gradient(rgba(245, 255, 245, 1) 0%, rgba(180, 210, 180, 1) 80%);
	background-image: linear-gradient(rgba(245, 255, 245, 1) 0%, rgba(180, 210, 180, 1) 80%);
}

.mux-message .mux-window-content
{
	padding-bottom:0;
	padding-top:0;
}

.mux-child-container
{
	position:absolute;
	top:36px;
}

.child
{
	position:absolute;
	overflow:auto;
}

.mux-edit-object
{
}

.mux-image-description
{
	font-style:italic;
	color:#999;
}

select.mux-grid-select
{
	margin-top:1px;
	display:block;
	margin-bottom:0;
	height:16px;
	width:100%;
	font-size:.8em;
	border:none 0;
}

input[type=checkbox].mux-grid-select
{
	display:block;
	margin-bottom:0;
	height:16px;
	line-height:1.875em;
	border:none 0;
}

.mux-header-module h1
{
	overflow:visible;
	white-space:nowrap;
	position:relative;
	z-index:5;
}

/* It's tempting to put into dashboard, but no ...! ;) */
.mux-debug-panel
{
	position:fixed;
	display:block;
	bottom:9px;
	height:10em;
	right:0;
	width:30px;
	z-index:100000;
	padding:18px 40px 18px 40px;
	overflow-x:hidden;
	overflow-y:hidden;
	opacity:0.3;

	-moz-transition-property:opacity, width, height;
	-moz-transition-duration:.5s;
	-webkit-transition-property:opacity, width, height;
	-webkit-transition-duration:.5s;
	-o-transition-property:opacity, width, height;
	-o-transition-duration:.5s;
	-ms-transition-property:opacity, width, height;
	-ms-transition-duration:.5s;
	transition-property:opacity, width, height;
	transition-duration:.5s;
}

.mux-debug-panel:hover
{
	opacity:1;
	height:40em;
	overflow-x:hidden;
	overflow-y:auto;
	width:630px;

	-moz-transition-property:opacity, width, height;
	-moz-transition-duration:.5s;
	-webkit-transition-property:opacity, width, height;
	-webkit-transition-duration:.5s;
	-o-transition-property:opacity, width, height;
	-o-transition-duration:.5s;
	-ms-transition-property:opacity, width, height;
	-ms-transition-duration:.5s;
	transition-property:opacity, width, height;
	transition-duration:.5s;
}

.clear-both,
input[type=button].clear-both,
input[type=text].clear-both,
input[type=radio].clear-both,
input[type=email].clear-both,
input[type=check].clear-both,
input[type=number].clear-both
{
	clear:both;
}

.mux-web-part-content
{
	width:100%;
	height:100%;
	min-width:100%;
	min-height:100%;
	margin:0;
	padding:0;
}

div.mux-web-part
{
	position:relative;

	-moz-transition-property:margin, padding, width, height, background-color, color, font-size, line-height, border-color, border-width, -moz-box-shadow, -moz-border-radius, opacity, left, right, top, bottom !important;
	-moz-transition-duration:.5s;
	-webkit-transition-property:margin, padding, width, height, background-color, color, font-size, line-height, border-color, border-width, -webkit-box-shadow, -webkit-border-radius, opacity, left, right, top, bottom !important;
	-webkit-transition-duration:.5s;
	-o-transition-property:margin, padding, width, height, background-color, color, font-size, line-height, border-color, border-width, -o-box-shadow, -o-border-radius, opacity, left, right, top, bottom !important;
	-o-transition-duration:.5s;
	-ms-transition-property:margin, padding, width, height, background-color, color, font-size, line-height, border-color, border-width, -ms-box-shadow, -ms-border-radius, opacity, left, right, top, bottom !important;
	-ms-transition-duration:.5s;
	transition-property:margin, padding, width, height, background-color, color, font-size, line-height, border-color, border-width, box-shadow, border-radius, opacity, left, right, top, bottom !important;
	transition-duration:.5s;
}

.mux-web-part-overflow
{
	/* Sorry guys! Needed ... :( */
	overflow-y:auto !important;
	overflow-x:hidden !important;
	height:auto !important;
}

.mux-bottom-right
{
	position:absolute;
	bottom:18px;
	right:10px;
}

.mux-error-message
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(255, 245, 245, 1)), to(rgba(210, 180, 180, 1)));
	background-image: -webkit-linear-gradient(rgba(255, 245, 245, 1) 0%, rgba(210, 180, 180, 1) 80%);
	background-image: -moz-linear-gradient(rgba(255, 245, 245, 1) 0%, rgba(210, 180, 180, 1) 80%);
	background-image: -o-linear-gradient(rgba(255, 245, 245, 1) 0%, rgba(210, 180, 180, 1) 80%);
	background-image: -ms-linear-gradient(rgba(255, 245, 245, 1) 0%, rgba(210, 180, 180, 1) 80%);
	background-image: linear-gradient(rgba(255, 245, 245, 1) 0%, rgba(210, 180, 180, 1) 80%);

	color:rgba(90, 0, 0, 1);
}

.mux-excerpts-all div.mux-excerpt-item:nth-child(3n+3)
{
	margin-right:0;
}

.mux-excerpt-item
{
	width:190px;
	height:144px;
	float:left;
	margin-right:10px;
	overflow:hidden;
	cursor:pointer;
	padding-top:18px;
}

.mux-excerpt-text
{
	font-style:italic;
}

.mux-login-wrapper
{
}

.mux-login-wrapper .mux-username,
.mux-login-wrapper .mux-password
{
	margin:0 0 18px 0;
	width:100%;
	min-width:100%;
	font-size:28px;
	border-left:none 0;
	border-right:none 0;
	border-top:solid 1px #999;
	border-bottom:solid 1px #999;
	background-color:rgba(225, 225, 225, .5);

	-moz-transition-property:background-color;
	-moz-transition-duration:.5s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:.5s;
	-o-transition-property:background-color;
	-o-transition-duration:.5s;
	-ms-transition-property:background-color;
	-ms-transition-duration:.5s;
	transition-property:background-color;
	transition-duration:.5s;
}

.mux-login-wrapper .mux-username:focus,
.mux-login-wrapper .mux-password:focus
{
	background-color:rgba(255, 255, 255, 1);

	-moz-transition-property:background-color;
	-moz-transition-duration:.5s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:.5s;
	-o-transition-property:background-color;
	-o-transition-duration:.5s;
	-ms-transition-property:background-color;
	-ms-transition-duration:.5s;
	transition-property:background-color;
	transition-duration:.5s;
}

.mux-login-wrapper .mux-login-btn
{
	float:right;
	width:110px;
}

.mux-login-wrapper .mux-logout-btn
{
	float:right;
	width:110px;
}

.mux-left-float
{
	float:left;
	width:100%;
	position:relative;
}

.mux-left-float textarea
{
	position:absolute;
	top:0;
	left:0;
}

.mux-multi-choice
{
	width:110px;
	height:16px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-size:.9em;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
}

.mux-status-unknown
{
	background-color:rgba(128, 128, 128, .07);
}

.mux-status-red
{
	background-color:rgba(128, 0, 0, .1);
}

.mux-status-yellow
{
	background-color:rgba(128, 128, 0, .1);
}

.mux-status-green
{
	background-color:rgba(0, 128, 0, .1);
}

.mux-status-blue
{
	background-color:rgba(0, 0, 128, .1);
}

.mux-status-purple
{
	background-color:rgba(128, 0, 128, .1);
}

.mux-status-indigo
{
	background-color:rgba(0, 128, 128, .1);
}

.mux-calendar-wrapper
{
	position:relative;
}

.mux-no-bottom-margin
{
	margin-bottom:0;
}

.mux-padded
{
	padding:18px 40px 18px 40px;
}


@-webkit-keyframes mux-rotate-ra {
 from {
   -webkit-transform: scale(1) rotate(0deg);
 }
 to {
   -webkit-transform: scale(1) rotate(360deg);
 }
}

@-moz-keyframes mux-rotate-ra {
 from {
   -moz-transform: scale(1) rotate(0deg);
 }
 to {
   -moz-transform: scale(1) rotate(360deg);
 }
}

.mux-horus-ra-image
{
	-webkit-animation-name: mux-rotate-ra;
	-webkit-animation-duration: 3s;
	-webkit-animation-direction: normal;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 1s;

	-moz-animation-name: mux-rotate-ra;
	-moz-animation-duration: 3s;
	-moz-animation-direction: normal;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-in-out;
	-mox-animation-delay: 1s;

	float:left;
	width:200px;
	margin-right:20px;
	height:200px;
	display:block;
}

.mux-webpart-template
{
}

.mux-paddings
{
	padding:18px 40px 18px 40px;
}

.mux-log-item td
{
	font-size:11px;
	line-height:18px;
}

.mux-tree-header
{
	height:36px;
	line-height:36px;
	vertical-align:bottom;
}

.mux-err-stack-trace
{
	max-height:18px;
	overflow:hidden;
	color:rgba(128,128,128,.5);
	font-style:italic;

	-moz-transition-property:color, max-height;
	-moz-transition-duration:.5s;
	-webkit-transition-property:color, max-height;
	-webkit-transition-duration:.5s;
	-o-transition-property:color, max-height;
	-o-transition-duration:.5s;
	-ms-transition-property:color, max-height;
	-ms-transition-duration:.5s;
	transition-property:color, max-height;
	transition-duration:.5s;
}

.mux-err-stack-trace:hover
{
	max-height:540px;
	color:rgba(128,128,128,1);

	-moz-transition-property:color, max-height;
	-moz-transition-duration:.5s;
	-webkit-transition-property:color, max-height;
	-webkit-transition-duration:.5s;
	-o-transition-property:color, max-height;
	-o-transition-duration:.5s;
	-ms-transition-property:color, max-height;
	-ms-transition-duration:.5s;
	transition-property:color, max-height;
	transition-duration:.5s;
}

.mux-in-place-edit-loose
{
	position:relative;
	height:18px;
}

.mux-in-place-edit-loose textarea,
.mux-in-place-edit-loose input[type=text]
{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}

.mux-has-content
{
	text-decoration:none;
	padding-left:16px;
	background:transparent url(../images/grid-action-button.png) no-repeat 0 0;
}

.mux-no-content
{
	text-decoration:none;
	padding-left:16px;
	background:transparent url(../images/grid-action-button.png) no-repeat 0 -20px;
}

.mux-info-paragraph
{
	color:rgba(128, 128, 128, 1);
	font-style:italic !important;
}
