/* button, input type = button */
input[type=button]
{
	display:inline-block;
	border:none 0;
	font-size:24px;
	height:36px;
	font-weight:normal;
	color:#111;
	margin:0 10px 18px 0;
	
	text-shadow:2px 2px 2px #999;

	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, 1)), to(rgba(180, 180, 180, 1)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, 1) 0%, rgba(180, 180, 180, 1) 80%);

	-moz-transition-property:-moz-box-shadow, color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow, color;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow, color;
	transition-duration:0.2s;
}

input[type=button]:focus
{
	-webkit-box-shadow: 2px 2px 3px #444;
	-moz-box-shadow: 2px 2px 3px #444;
	box-shadow: 2px 2px 3px #444;
}

input:disabled[type=button]
{
	color:#999;
}

input[type=button]:hover
{
	-webkit-box-shadow: 2px 2px 3px #444;
	-moz-box-shadow: 2px 2px 3px #444;
	box-shadow: 2px 2px 3px #444;
	color:#06c;
}

input[type=text]
{
	margin:8px 10px 8px 0 !important;
	width:148px;
}

input[type=radio]
{
	margin:0 0 0 0 !important;
}

select
{
	margin:8px 0 8px 0;
}


textarea
{
	margin:0;
	padding-top:18px;
	padding-bottom:18px;
	line-height:18px;
	width:auto;
}




/* BluePrint.css plugins... */
div.down-1, .down-1 {margin-top:1.5em;}
div.down-2, .down-2 {margin-top:3em;}
div.down-3, .down-3 {margin-top:4.5em;}
div.down-4, .down-4 {margin-top:6em;}
div.down-5, .down-5 {margin-top:7.5em;}
div.down-6, .down-6 {margin-top:9em;}
div.down-7, .down-7 {margin-top:10.5em;}
div.down-8, .down-8 {margin-top:12em;}
div.down-9, .down-9 {margin-top:13.5em;}
div.down-10, .down-10 {margin-top:15em;}
div.down-11, .down-11 {margin-top:16.5em;}
div.down-12, .down-12 {margin-top:18em;}
div.down-13, .down-13 {margin-top:19.5em;}
div.down-14, .down-14 {margin-top:21em;}
div.down-15, .down-15 {margin-top:22.5em;}
div.down-16, .down-16 {margin-top:24em;}
div.down-17, .down-17 {margin-top:25.5em;}
div.down-18, .down-18 {margin-top:27em;}
div.down-10, .down-19 {margin-top:28.5em;}
div.down-20, .down-20 {margin-top:30em;}




/* Magix UX common classes, potpoury */
.mux-rounded
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;
}

.mux-rounded:hover
{
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.mux-shaded
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(255, 255, 255, 1)), to(rgba(210, 210, 210, 1)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(210, 210, 210, 1) 80%);
}




/* Accordion CSS */
.mux-accordion
{
	display: block;
}

.mux-accordion .mux-acc-view
{
	display:block;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	-webkit-box-shadow: 2px 2px 5px #666;
	-moz-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;
}

.mux-accordion .mux-acc-view:hover
{
	-webkit-box-shadow: 2px 2px 15px #444;
	-moz-box-shadow: 2px 2px 15px #444;
	box-shadow: 2px 2px 15px #444;
}

.mux-accordion .mux-acc-view-caption
{
	font-size:1.5em;
	padding:7px 0 2px 1em;
	display:block;
	text-decoration:none;
	outline:none;
	color:#000;

	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;

	text-shadow:2px 2px 4px rgba(0, 0, 0, 0.2);

	-moz-transition-property:color, text-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:color, text-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:color, text-shadow;
	transition-duration:0.2s;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, 1)), to(rgba(180, 180, 180, 1)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, 1) 0%, rgba(180, 180, 180, 1) 80%);
}

.mux-accordion .mux-acc-view-caption:hover
{
	color:#33b;
	text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
}

.mux-accordion .mux-acc-view-content
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(255, 255, 255, 1)), to(rgba(210, 210, 210, 1)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(210, 210, 210, 1) 80%);
}

.mux-insert
{
	padding:1.5em;
}







/* Menu */
.mux-menu
{
	font-size:2em;
	line-height:1;
	display:block;
	height:36px;
	margin:0 0 .75em 0;
	padding:0 1.5em 0 1.5em;

	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;

	-webkit-box-shadow: 2px 2px 5px #666;
	-moz-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, 1)), to(rgba(180, 180, 180, 1)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, 1) 0%, rgba(180, 180, 180, 1) 80%);
}

.mux-menu:hover
{
	-webkit-box-shadow: 2px 2px 10px #444;
	-moz-box-shadow: 2px 2px 10px #444;
	box-shadow: 2px 2px 10px #444;
}

.mux-menu .mux-menu-item
{
	height:26px;
	padding:5px 20px 5px 5px;
	cursor:pointer;
	text-shadow:2px 2px 4px rgba(0, 0, 0, 0.2);
	display:block;
	float:left;
	color:#000;
	position:relative;
	min-width:95px;

	-moz-transition-property:color, text-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:color, text-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:color, text-shadow;
	transition-duration:0.2s;
}

.mux-menu .mux-menu-item:hover
{
	color:#33b;
	text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
}

.mux-menu .mux-menu-item-icon
{
	display:none;
}

.mux-menu .mux-menu-submenu .mux-menu-has-children>.mux-menu-item-icon
{
	display:block;
	position:absolute;
	right:10px;
	text-shadow:3px 3px 5px rgba(0, 0, 0, 0.7);
}

.mux-menu .mux-menu-item-text
{
}

.mux-menu .mux-menu-item-url
{
}

.mux-menu .mux-menu-submenu
{
	padding-left:0;
	position:absolute;
	z-index:1;
	top:28px;
	margin-left:0;
	min-width:350px;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	-webkit-box-shadow: 2px 2px 5px #666;
	-moz-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(255, 255, 255, 1)), to(rgba(210, 210, 210, 1)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(210, 210, 210, 1) 80%);
}

ul.mux-menu li.mux-menu-item ul.mux-menu-submenu .mux-menu-item:first-child
{
	margin-top:5px !important;
}

ul.mux-menu>li.mux-menu-item>ul.mux-menu-submenu>.mux-menu-item:first-child
{
	margin-top:26px !important;
}

ul.mux-menu ul.mux-menu-submenu .mux-menu-item:last-child
{
	margin-bottom:16px !important;
}

.mux-menu .mux-menu-submenu .mux-menu-submenu
{
	left:40px;
	top:0px;
	margin-top:-5px;
}

.mux-menu .mux-menu-submenu .mux-menu-item
{
	padding-left:1.5em;
	float:none;
	background-color:rgba(255, 255, 255, 0.0);

	-moz-transition-property:background-color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.2s;
	transition-property:background-color;
	transition-duration:0.2s;
}

.mux-menu .mux-menu-submenu .mux-menu-item:hover
{
	float:none;
	background-color:rgba(255, 255, 255, 0.3);
}






/* MultiPanel, MultiButton and so on */
.mux-multi-panel-wrapper
{
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;

	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;
}

.mux-multi-panel-wrapper:hover
{
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.mux-multi-button
{
	font-size:2em;
	display:block;
	min-height:35px;
	margin:0;
	padding:0;

	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, 1)), to(rgba(180, 180, 180, 1)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, 1) 0%, rgba(180, 180, 180, 1) 80%);
}

.mux-multi-button:hover
{
}

.mux-multi-button .mux-multi-button-view
{
	height:35px;
	cursor:pointer;
	text-shadow:2px 2px 4px rgba(0, 0, 0, 0.2);
	display:block;
	float:left;
	color:#000;
	position:relative;

	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;

	-moz-transition-property:color, text-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:color, text-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:color, text-shadow;
	transition-duration:0.2s;
}

.mux-multi-button .mux-multi-button-view:hover
{
	color:#33b;
	text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);

	background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(rgba(180, 180, 180, 0.5)), to(rgba(150, 150, 150, 0)));
	background-image: -moz-linear-gradient(rgba(180, 180, 180, 0.5) 0%, rgba(150, 150, 150, 0) 50%);
}

.mux-multi-button .mux-multi-button-view-button
{
	height:25px;
	padding:0 15px 5px 15px;
	display:block;
	text-shadow:2px 2px 5px rgba(0, 0, 0, 0.2);
	text-decoration:none;
	outline:none;
	color:#000;
	-moz-transition-property:color, text-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:color, text-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:color, text-shadow;
	transition-duration:0.2s;
}

.mux-multi-button .mux-multi-button-view-button:hover
{
	text-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
	color:#33b;
}

.mux-multi-panel
{
	border-top:solid 1px #999;
	margin-bottom:-1px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(255, 255, 255, 1)), to(rgba(210, 210, 210, 1)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(210, 210, 210, 1) 80%);
	clear:both;
	overflow:auto;
}

.mux-multi-panel .mux-multi-panel-content
{
}

.mux-multi-panel-slide
{
	overflow:hidden;
}

.mux-multi-panel-slide .mux-multi-panel-content
{
	width:9999px;
	margin:0;
	padding:0;
	list-style-type:none;
}

.mux-multi-panel-slide .mux-multi-panel-view
{
	float:left;
}







/* SlidingMenu */
.mux-sliding-menu
{
	font-size:1.5em;
	line-height:1em;
	margin-top:-10px;
	overflow:hidden;
	width:100%;
	text-shadow:3px 3px 5px rgba(0, 0, 0, 0.3);
	
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;

	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.8)), to(rgba(210, 210, 210, 0.8)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.8) 0%, rgba(210, 210, 210, 0.8) 100%);
}

.mux-sliding-menu:hover
{
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.mux-sliding-menu a
{
	text-decoration:none;
	display:block;
	padding:8px 0 0 36px;
	height:26px;
	color:#000;
	margin-left:2px;
	margin-right:2px;

	text-shadow:2px 2px 4px rgba(0, 0, 0, 0.2);

	-moz-transition-property:color, text-shadow, background-color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:color, text-shadow, background-color;
	-webkit-transition-duration:0.2s;
	transition-property:color, text-shadow, background-color;
	transition-duration:0.2s;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.mux-sliding-menu a:hover
{
	color:#33b;
	background-color:rgba(0, 0, 0, 0.02);
	text-shadow:2px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.3);
}

.mux-sliding-menu .mux-sliding-menu-back
{
	height:30px;
}

.mux-sliding-menu .mux-sliding-menu-item-active
{
}

.mux-sliding-menu .mux-sliding-menu-level
{
	width:100%;
	position:relative;
	padding-left:0;
	margin:0;
}

.mux-sliding-menu .mux-sliding-menu-level .mux-sliding-menu-level
{
	position:absolute;
	top:0px;
	left:100%;
}

.mux-sliding-menu .mux-sliding-menu-item
{
	width:100%;
	list-style-type:none;
	height:36px;
}

.mux-sliding-menu .mux-sliding-menu-item a
{
	text-decoration:none;
}

.mux-sliding-menu .mux-sliding-menu-has-children .mux-sliding-menu-item-icon
{
	position:absolute;
	top:8px;
	right:15px;
}

.mux-sliding-menu .mux-sliding-menu-item
{
	-moz-transition-property:color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:color;
	-webkit-transition-duration:0.2s;
	transition-property:color;
	transition-duration:0.2s;
	color:#000;
}

.mux-sliding-menu .mux-sliding-menu-item:hover
{
}

.mux-sliding-menu .mux-sliding-menu-item-text
{
	position:relative;
	display:block;
	padding:8px 0 7px 36px;
}

.mux-sliding-menu .mux-sliding-menu-item-icon
{
}






/* TreeView */
.mux-tree-view
{
}

.mux-tree-level
{
	list-style-type:none;
	list-style-image:none;
	margin:0;
	padding:0;
}

.mux-tree-item
{
	cursor:pointer;
	position:relative;
	font-size:16px;
	line-height:1em;
}

.mux-tree-hover
{
	-webkit-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.0);
	-moz-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.0);
	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;
}

.mux-tree-hover:hover
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.4)), to(rgba(210, 210, 210, 0.4)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.4) 0%, rgba(210, 210, 210, 0.4) 100%);
	-webkit-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.2);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.mux-tree-selected
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(225, 225, 255, 0.4)), to(rgba(180, 180, 210, 0.4)));
	background-image: -moz-linear-gradient(rgba(225, 225, 255, 0.4) 0%, rgba(180, 180, 210, 0.4) 100%);
	-webkit-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.2);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.mux-tree-floater
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
}

.mux-tree-text
{
	text-shadow:2px 2px 3px rgba(80, 80, 80, 0.2);
	vertical-align:top;
	font-size:12px;
}

.mux-tree-url
{
	position:absolute;
	z-index:101;
	text-decoration:none;
}

.mux-tree-icon,
.mux-tree-space,
.mux-tree-link,
.mux-tree-children,
.mux-tree-children-last,
.mux-tree-no-children,
.mux-tree-no-children-last
{
	padding-left:20px;
	line-height:18px;
	font-size:16px;
}

.mux-tree-expanded .mux-tree-icon
{
	background:transparent url(tree-sprites.png) no-repeat 0 0;
}

.mux-tree-collapsed .mux-tree-icon
{
	background:transparent url(tree-sprites.png) no-repeat 0 -18px;
}

.mux-tree-space
{
}

.mux-tree-link
{
	background:transparent url(tree-sprites.png) no-repeat 0 -108px;
}

.mux-tree-expanded .mux-tree-children
{
	background:transparent url(tree-sprites.png) no-repeat 0 -144px;
}

.mux-tree-collapsed .mux-tree-children
{
	background:transparent url(tree-sprites.png) no-repeat 0 -126px;
}

.mux-tree-expanded .mux-tree-children-last
{
	background:transparent url(tree-sprites.png) no-repeat 0 -54px;
}

.mux-tree-collapsed .mux-tree-children-last
{
	background:transparent url(tree-sprites.png) no-repeat 0 -36px;
}

.mux-tree-no-children
{
	background:transparent url(tree-sprites.png) no-repeat 0 -90px;
}

.mux-tree-no-children-last
{
	background:transparent url(tree-sprites.png) no-repeat 0 -72px;
}






/* Window */

.mux-window
{
	position:relative;
}

.mux-window-caption
{
	font-size:1.5em;
	line-height:1;
	margin-bottom:.5em;
	padding-top:.5em;
	margin-left:40px;
	display:block;
	text-shadow:2px 2px 4px rgba(0, 0, 0, 0.2);
	user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none;
}

.mux-window-close
{
	display:block;
	position:absolute;
	top:11px;
	left:9px;
	width:9px;
	height:8px;
	padding-left:3px;
	padding-bottom:4px;
	font-size:10px;
	color:rgba(0, 0, 0, 0);

	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;

	-webkit-box-shadow: 1px 1px 2px rgba(30, 30, 30, 0.1);
	-moz-box-shadow: 1px 1px 2px rgba(30, 30, 30, 0.1);
	box-shadow: 2px 1px 2px rgba(30, 30, 30, 0.1);

	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 0, 0, 0.2)), to(rgba(255, 180, 180, 0.2)));
	background-image: -moz-linear-gradient(rgba(255, 0, 0, 0.2) 0%, rgba(255, 180, 180, 0.2) 100%);

	-moz-transition-property:-moz-box-shadow, background-image, color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow, background-image, color;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow, background-image, color;
	transition-duration:0.2s;
}

.mux-window-close:hover
{
	color:rgba(0, 0, 0, 1);

	-webkit-box-shadow: 1px 1px 2px rgba(30, 30, 30, 1);
	-moz-box-shadow: 1px 1px 2px rgba(30, 30, 30, 1);
	box-shadow: 2px 1px 2px rgba(30, 30, 30, 1);

	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 0, 0, 1)), to(rgba(255, 180, 180, 1)));
	background-image: -moz-linear-gradient(rgba(255, 0, 0, 1) 0%, rgba(255, 180, 180, 1) 100%);
}

.mux-window-content
{
}




/* Calendar */

.mux-calendar
{
	width:270px;
	padding:1em;
	position:relative;
	cursor:default;
}

.mux-calendar-previous,
.mux-calendar-next
{
	display:block;
	position:absolute;
	top:0;
	border:none 0;
	font-size:24px;
	height:36px;
	font-weight:normal;
	color:#111;
	padding:0 4px 0 4px;
	width:36px;

	-moz-transition-property:background-color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.2s;
	transition-property:background-color;
	transition-duration:0.2s;
	cursor:default;
	text-decoration:none;
	text-align:center;
}

.mux-calendar-previous
{
	-moz-border-radius:5px 0px 5px 0px;
	-webkit-border-radius:5px 0px 5px 0px;
	border-radius:5px 0px 5px 0px;
	background-color:rgba(0, 0, 0, 0);
	left:0px;
}

.mux-calendar-previous:hover
{
	background-color:rgba(0, 0, 0, 0.2);
}

.mux-calendar-next
{
	-moz-border-radius:0px 5px 0px 5px;
	-webkit-border-radius:0px 5px 0px 5px;
	border-radius:0px 5px 0px 5px;
	background-color:rgba(0, 0, 0, 0);
	right:0px;
}

.mux-calendar-next:hover
{
	background-color:rgba(0, 0, 0, 0.2);
}

.mux-calendar-month-year
{
	display:inline-block;
	position:absolute;
	top:0;
	left:44px;
	border:none 0;
	font-size:2em;
	height:36px;
	width:200px;
	font-weight:normal;
	color:#111;
	padding:0 3px 0 3px;
	background-color:rgba(0, 0, 0, 0);

	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;

	-moz-transition-property:background-color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.2s;
	transition-property:background-color;
	transition-duration:0.2s;
}

.mux-calendar-month-year:hover
{
	background-color:rgba(0, 0, 0, 0.2);
}

.mux-calendar-month-year a
{
	cursor:default;
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	text-decoration:none;
}

.mux-calendar-month-year input[type=text]
{
	width:95%;
}

.mux-calendar-table
{
	font-size:.8em;
	margin-bottom:6px;
	line-height:1.875em;
	margin-top:42px;
	border:none 0;
	padding:0 1.5em 0 1.5em;
}

.mux-calendar-table tr td
{
	padding:0;
	border:none 0;
}

.mux-calendar tbody tr:nth-child(2n) td, tbody tr.even td
{
	background:transparent none;
}

.mux-calendar-week
{
	color:#999;
}

.mux-calendar-current-month
{
}

.mux-calendar-wrong-month
{
	color:#999;
}

.mux-calendar-current-month,
.mux-calendar-wrong-month
{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background-color:rgba(0, 0, 0, 0);
	-moz-transition-property:background-color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.2s;
	transition-property:background-color;
	transition-duration:0.2s;
	text-align:center;
}

.mux-calendar-current-month:hover,
.mux-calendar-wrong-month:hover
{
	background-color:rgba(0, 0, 0, 0.2) !important;
}

.mux-calendar-today
{
}

.mux-calendar-selected
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.2)), to(rgba(128, 128, 128, 0.2)));
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(128, 128, 128, 0.2) 100%);
}






/* Rating Control */
.mux-rating
{
}

.mux-rating-star
{
	display:inline-block;
	width:60px;
	height:55px;
	background-image:url(star.png);
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:0 0;
}

.mux-rating-star-checked
{
	background-position:0 -1px;
}

.mux-rating-star-unchecked
{
	background-position:0 -55px;
}

.mux-rating-star-min
{
	background-image:url(star-min.png);
}

.mux-rating-star-mid
{
	background-image:url(star-mid.png);
}

.mux-rating-star-max
{
	background-image:url(star-max.png);
}









/* InPlaceEdit */
.mux-in-place-edit
{
	background-image:url(pen.png);
	background-repeat:no-repeat;
}

.mux-in-place-edit a
{
	padding-left:20px;
	display:inline-block;
	height:18px;
}

.mux-in-place-edit input
{
	margin-left:20px;
	width:148px;
	display:inline-block;
	border:solid 1px #aaf;
	height:16px;
}

.mux-in-place-edit textarea
{
	margin-left:20px;
	width:248px;
	display:inline-block;
	height:180px;
	border:solid 1px #aaf;
}


