


.fileEx input[type=button]
{
	padding:0 10px 0 10px;
	margin-bottom:0;
}

.fileEx input[type=submit]:disabled:hover,
.fileEx input[type=button]:disabled:hover
{
}

.fileExplorer
{
	margin-bottom:36px;
	height:270px;
}


.fileExplorer .imageIcon
{
	margin-bottom:18px;
	margin-right:10px;
	width:70px;
	height:72px;
	float:left;
	overflow:hidden;

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;
	cursor:pointer;

	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}

.fileExplorer .imageIcon:hover
{
	-webkit-box-shadow: 2px 2px 3px rgba(80, 80, 80, 1);
	-moz-box-shadow: 2px 2px 3px rgba(80, 80, 80, 1);
	box-shadow: 2px 2px 3px rgba(80, 80, 80, 1);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, .8)), to(rgba(180, 180, 180, .8)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, .8) 0%, rgba(180, 180, 180, .8) 80%);
}

.fileExplorer .imageIcon img
{
	max-height:100%;
	width:auto;
}

.fileExplorer .wide img
{
	height:auto;
	max-width:100%;
}

.fileExplorer .lastImage
{
	margin-right:0;
}

.fileExplorer .imageIcon:hover img
{
}






.fileExplorer .folderIcon
{
	margin-bottom:18px;
	margin-right:10px;
	width:70px;
	height:72px;
	float:left;
	overflow:hidden;
	position:relative;

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;
	cursor:pointer;

	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}

.fileExplorer .folderIcon:hover
{
	-webkit-box-shadow: 2px 2px 3px  2px 2px 3px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 2px 2px 3px  2px 2px 3px rgba(0, 0, 0, 0.8);
	box-shadow: 2px 2px 3px  2px 2px 3px rgba(0, 0, 0, 0.8);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, .8)), to(rgba(180, 180, 180, .8)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, .8) 0%, rgba(180, 180, 180, .8) 80%);
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}

.fileExplorer .folderIcon span.icon
{
	background:Transparent url(../images/folder.png) no-repeat 0 0;
	display:block;
	width:100%;
	height:100%;
}

.fileExplorer .folderIcon span.text
{
	text-decoration:none;
	color:black;
	display:block;
	position:absolute;
	right:0;
	bottom:0;

	-moz-transition-property:color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:color;
	-webkit-transition-duration:0.2s;
	transition-property:color;
	transition-duration:0.2s;
}

.fileExplorer .folderIcon span.text:hover
{
	color:#06c;
}

.fileExplorer .folderUpIcon
{
	margin-bottom:18px;
	margin-right:10px;
	width:70px;
	height:72px;
	float:left;
	overflow:hidden;

	-moz-transition-property:-moz-box-shadow;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow;
	transition-duration:0.2s;
	cursor:pointer;

	-webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0);
	-moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0);
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0);

	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}

.fileExplorer .folderUpIcon:hover
{
	-webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0);
	-moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0);
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, .8)), to(rgba(180, 180, 180, .8)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, .8) 0%, rgba(180, 180, 180, .8) 80%);
}

.fileExplorer .folderUpIcon span
{
	text-decoration:none;
	text-shadow:2px 2px 3px rgba(0, 0, 0, 0.2);
	color:black;
	display:block;
	height:72px;
	width:70px;
	background:Transparent url(../images/folder-up.png) no-repeat 0 0;
}

.fileExplorer .folderUpIcon span:hover
{
	color:#06c;
}

.fileExplorer .viewing
{
	-moz-transition-property:-moz-box-shadow, -moz-border-radius;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow, -webkit-border-radius;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow, border-radius;
	transition-duration:0.2s;
	cursor:pointer;

	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(230, 230, 230, .4)), to(rgba(180, 180, 180, .4)));
	background-image: -moz-linear-gradient(rgba(230, 230, 230, .4) 0%, rgba(180, 180, 180, .4) 80%);

	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}

.fileExplorer .viewing img
{
}

.fileEx .next,
.fileEx .previous
{
	padding:0 20px 0 20px;
	min-width:70px;
}

.fileEx .delete
{
	padding:0 20px 0 20px;
	min-width:150px;
}










.fileExplorer-properties
{
	margin-bottom:36px;
}

.fileExplorer-properties div.mux-in-place-edit input[type=text]
{
	margin:-2px 0 -1px 0 !important;
}

.fileExplorer-properties .extension
{
	color:#999;
	font-style:italic;
	margin-bottom:0;
}

.fileExplorer-properties .size
{
	color:#999;
	font-style:italic;
	margin-bottom:0;
}

.fileExplorer-properties .fullUrl
{
	font-style:italic;
	margin-bottom:0;
}

.fileExplorer-properties .imageSize
{
	color:#999;
	font-style:italic;
	margin-bottom:0;
}

.fileExplorer-properties .imageLink
{
	text-decoration:none;
}

.fileExplorer-properties .imageWarning
{
	color:Red;
}

.fileExplorer-properties img.preview
{
	width:auto;
	max-height:100%;
	cursor:pointer;

	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-moz-transition-property:-moz-box-shadow, -moz-border-radius;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:-webkit-box-shadow, -webkit-border-radius;
	-webkit-transition-duration:0.2s;
	transition-property:box-shadow, border-radius;
	transition-duration:0.2s;
	cursor:pointer;
}

.fileExplorer-properties img:hover
{
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.fileExplorer-properties img.wide
{
	max-width:100%;
	height:auto;
}






.fileEx input[type=file].file-control
{
	visibility:hidden;
	height:0;
	width:0;
	position:absolute;
}

.select
{
	min-width:150px;
	margin-right:0 !important;
}

.imageIcon .small-image-label
{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-color:rgba(0, 0, 0, 0.1);
	color:rgba(255, 255, 255, 0.5);
	font-size:10px;

	-moz-transition-property:background-color, color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:background-color, color;
	-webkit-transition-duration:0.2s;
	transition-property:background-color, color;
	transition-duration:0.2s;
}

.viewing .small-image-label,
.imageIcon:hover .small-image-label
{
	background-color:rgba(0, 0, 0, 0.6);
	color:rgba(255, 255, 255, 1);
}

.ascii-editor
{
	height:360px;
    white-space: nowrap;
    display:block;
}

.save-btn
{
	margin-bottom:0px;
	margin-top:18px;
}






