



div.type-editor
{
	position:relative;
}

div.type-editor textarea
{
	position:absolute;
	z-index:1;
}

.meta-view-form-element,
input[type=text].meta-view-form-element,
input[type=button].meta-view-form-element
{
	display:block;
	width:100%;
	min-width:100%;
	margin-bottom:18px !important;
	height:36px;
}

.meta-view-form-label
{
	margin-top:18px;
	font-size:1.5em;
}

textarea.meta-view-form-textbox,
input[type=text].meta-view-form-autocompleter,
input[type=text].meta-view-form-textbox
{
	width:100%;
	min-width:100%;

	font-size:28px;
	height:32px;
	background-color:rgba(225, 225, 225, .5);

	-moz-transition-property:background-color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.2s;
	transition-property:background-color;
	transition-duration:0.2s;
}

textarea.meta-view-form-textbox:focus,
input[type=text].meta-view-form-autocompleter:focus,
input[type=text].meta-view-form-textbox:focus,
textarea.meta-view-form-textbox:hover,
input[type=text].meta-view-form-autocompleter:hover,
input[type=text].meta-view-form-textbox:hover
{
	background-color:rgba(255, 255, 255, 1);

	-moz-transition-property:background-color;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.2s;
	transition-property:background-color;
	transition-duration:0.2s;
}

input[type=button].action-button
{
	float:right;
	display:block;
	margin-right:0;
	margin-left:10px;
	min-width:110px;
}

.meta-view-form-autocompleter-wrp
{
	width:100%;
	position:relative;
	overflow:visible;
}

.mux-auto-completer-popup-wrapper
{
	position:absolute;
	top:36px;
	width:100%;
	height:inherit;
	overflow:hidden;
	min-height:0px;
	-moz-border-radius:0 0 15px 15px;
	-webkit-border-radius:0 0 15px 15px;
	border-radius:0 0 15px 15px;
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(255, 255, 255, 1)), to(rgba(210, 210, 210, 1)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(210, 210, 210, 1) 80%);
}

.mux-auto-completer-popup
{
	height:auto;
	overflow:visible;
	margin:18px 40px 18px 40px;
}

@-webkit-keyframes color-flash {
 from {
   color:rgba(255, 255, 0, 1);
 }
 to {
   color:rgba(128, 128, 255, 1);
 }
}

@-moz-keyframes color-flash {
 from {
   color:rgba(255, 255, 0, 1);
 }
 to {
   color:rgba(128, 128, 255, 1);
 }
}

.mux-auto-completer-popup a
{
	-webkit-animation-name: color-flash;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-moz-animation-name: color-flash;
	-moz-animation-duration: .5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: alternate;
}

.mux-auto-completer-popup a:focus
{
	-webkit-animation-name: color-flash;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-moz-animation-name: color-flash;
	-moz-animation-duration: .5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
}


.mux-auto-completer-item
{
	display:block;
	width:inherit;
	font-size:20px;
	height:26px;
	text-decoration:none;
	padding:3px 0px 7px 40px;
	background-color:rgba(0,0,0,0);
	-moz-transition-property:background-color;
	-moz-transition-duration:1s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:1s;
	transition-property:background-color;
	transition-duration:1s;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.mux-auto-completer-item:hover
{
	-moz-transition-property:background-color;
	-moz-transition-duration:1s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:1s;
	transition-property:background-color;
	transition-duration:1s;
	background-color:rgba(0,0,0,.1);
}

.mux-auto-completer-image
{
	clear:both;
	width:30px;
	margin-right:-30px;
	float:left;
	display:block;
	height:36px;
	z-index:100;
	position:absolute;
	-moz-transition-property:margin-right, width, height, margin-top;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:margin-right, width, height, margin-top;
	-webkit-transition-duration:0.2s;
	transition-property:margin-right, width, height, margin-top;
	transition-duration:0.2s;
	cursor:pointer;
}


.mux-auto-completer-image:hover
{
	-moz-transition-property:margin-right, width, height, margin-top;
	-moz-transition-duration:0.2s;
	-webkit-transition-property:margin-right, width, height, margin-top;
	-webkit-transition-duration:0.2s;
	transition-property:margin-right, width, height, margin-top;
	transition-duration:0.2s;
	z-index:101;
	width:230px;
	height:324px;
	margin-right:-230px;
	margin-top:-90px;
}





