<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" />
    <pages>
      <controls>
        <add
            assembly="Magic-UX"
            namespace="Magic.UX.Widgets"
            tagPrefix="mux"/>
        <add
            assembly="Magic-UX"
            namespace="Magic.UX.Aspects"
            tagPrefix="mux"/>
      </controls>
    </pages>
	</system.web>
</configuration>
