
table tr th,
table tr td
{
	border:none 0;
}

li.tree-item-namespace span.mux-tree-icon
{
	background:transparent url(images/tree.png) no-repeat 0 0;
}

li.tree-item-class span.mux-tree-icon
{
	background:transparent url(images/tree.png) no-repeat 0 -16px;
}








