<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- MSSQL -->
    <add key="LegoDatabaseAdapter" value="Magix.Brix.Data.Adapters.MSSQL.MSSQL"/>
    <add key="LegoConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=BrixTest;Integrated Security=SSPI" />
    

    <!-- XML 
    <add key="LegoDatabaseAdapter" value="Magix.Brix.Data.Adapters.XML.XML"/>
    <add key="LegoConnectionString" value="~/data.xml" />
    -->

    <!-- MySQL 
    <add key="LegoDatabaseAdapter" value="Magix.Brix.Data.Adapters.MySQL.MySQL"/>
    <add key="LegoConnectionString" value="SERVER=localhost;DATABASE=LegoTest;UID=root;PASSWORD=8pr4ms" />
    -->

  </appSettings>
</configuration>